{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="main-banner-item item-bg-two">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container" style="background-image: url('/static/assets/1.gif');background-repeat: no-repeat;">
          <div class="row align-items-center">
            <div class="col-lg-6" >
              <div class="banner-area-content">
                <h1>
                  Holistic Healing And Spiritual Surgery
                </h1>
                <p class="text-black">
                  Book an appointment with Kim today, and start your journey towards a pain-free life.
                </p>
                <center>
                <div class="banner-btn">
                  <a href="/booking/" class="default-btn-one"
                    >Book Appointment</a
                  >
                </div>
              </center>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="banner-video">
                <div class="video-btn">
                  <a
                    href="https://www.youtube.com/watch?v=9SXN3hEjy00"
                    class="popup-youtube"
                  >
                    <i class="flaticon-play-button"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Main Banner -->

<!-- Top Services Section-->
<section class="top-services-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-6 no-padding">
        <div class="top-services-content">
          <i class="flaticon-clock-circular-outline"></i>
          <h2>Working Hours</h2>
          <p>Mon-Fri: 19:15-21:00</p>
          <span>Sat-sunday: 12:00-19:00</span>
        </div>
      </div>

  </div>
</section>
<!-- End Top Services Section-->

<!-- Start Expertise Section -->
<section class="expertise-section" id="aboutus" >
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="expertise-content-area">
          <h2>Superior Expertise</h2>
          <h3>Since 2011</h3>
          <p>
            Welcome to my world of holistic healing. 
              My name is Kim Lappalainen and my awakening to the spiritual world happened in 2011 during an intensive healing course. 
              Since then, I have deepened my knowledge by taking a spiritual surgery course five years ago, and these insights are now very important to my work.

          </p>
          <p>
           I specialize in addressing a range of physical and emotional challenges, including but not limited to ankle problems, knee problems, hip problems, stomach problems, heartbreak, past life and current life trauma, as well as neck, shoulder and back problems.
              My skills also extend to treating our four-legged friends – animals.

          </p>
        </div>

        <ul class="expertise-features-list">
          <li>Professional Service</li>
          <li>Can book directly or remotely</li>
          <li>Balanced Atmosphere</li>
          <li>Services for Animals too</li>
        </ul>

     <!--   <div class="expertise-box">
          <a href="#" class="default-btn-one">More Details</a>
        </div> -->
      </div>

      <div class="col-lg-6">
        <div class="expertise-image">
          <img
            src="{% static 'assets/img/expertise.png' %}"
            alt="image"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="back-image">
    <img
      src="{% static 'assets/img/dots.png' %}"
      alt="image"
    />
  </div>
</section>
<!-- End Expertise Section -->

<!-- Start Choose Section -->
<section class="choose-section" id="services">
  <div class="container">
    <div class="choose-area">
      <div class="row">
        <div class="col-lg-5">
          <div class="choose-title">
            <h2>Why Choose Us</h2>
            <h3>Why Choose Holistic Healing and Spiritual Surgery</h3>
          </div>
          <img
            src="{% static 'assets/img/treatments.jpg' %}"
            alt="image"
          />
        </div>

        <div class="col-lg-7">
          <div class="p-text">
            <p>
              Choosing Healerkim as your healer and for spiritual surgery is a decision that can be justified by several advantages, especially considering the long experience since 2011. Here are some reasons why you might want to consider choosing Healerkim:
              <ul class="why-choose-us-list">
                <li>Long Experience: Healerkim's work spans a period of over ten years since 2011. The long experience indicates not only a deep understanding of healing principles but also the ability to handle different types of situations and client needs.</li>

                <li>Reliability: Having been in the field for such a long time also indicates a level of reliability and trust. Customers can feel confident that Healerkim has an established and reliable presence within the healing community.</li>

                <li>Versatility: With years of experience, Healerkim may have developed a versatility and ability to adapt to different client needs and expectations. It can include various healing techniques and approaches that have been proven effective over time.</li>

                <li>References and Reviews: Over such a long career, Healerkim may have built up an impressive collection of references and reviews from satisfied customers. It may be worth looking at these to get a better understanding of how others have experienced and  benefited from Healerkim's services.</li>
                <li>Continuous Development: A healer who has been active for so many years has probably also had room for personal and professional development. It may include continuing education and adapting to new trends and findings in healing and spiritual surgery.</li>

            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="choose-content">
          <i class="flaticon-check-mark"></i>
          <img
            src="{% static 'assets/img/tag.png' %}"
            alt="image"
          />
          <h3>Holistic View</h3>
          <p>
            Holistic healing sees the person as a whole, and not only treats symptoms, but investigates and treats the root of the problem.

          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="choose-content">
          <i class="flaticon-medical-kit"></i>
          <img
            src="{% static 'assets/img/tag.png' %}"
            alt="image"
          />
          <h3>Promotes self-healing</h3>
          <p>By stimulating the body's natural ability to heal itself, holistic healing supports the process of self-healing.
</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="choose-content">
          <i class="flaticon-college-graduation"></i>
          <img
            src="{% static 'assets/img/tag.png' %}"
            alt="image"
          />
          <h3>Reduces stress</h3>
          <p>
            Holistic healing often includes relaxation techniques such as meditation and breathing techniques, which can reduce stress and promote well-being.


          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="choose-content">
          <i class="flaticon-medical-history"></i>
          <img
            src="{% static 'assets/img/tag.png' %}"
            alt="image"
          />
          <h3>Individualized treatment: </h3>
          <p>
            Each individual is considered unique, and the treatment is tailored to the person's needs and lifestyle.


          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="choose-content">
          <i class="flaticon-multiple-users-silhouette"></i>
          <img
            src="{% static 'assets/img/tag.png' %}"
            alt="image"
          />
          <h3>Improves lifestyle habits:</h3>
          <p>
            Holistic healing promotes healthy lifestyle habits such as good diet, exercise and sleep, which can contribute to an overall improvement in health.

          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="choose-content">
          <i class="flaticon-infrared"></i>
          <img
            src="{% static 'assets/img/tag.png' %}"
            alt="image"
          />
          <h3>Balances energy</h3>
          <p>
            Some holistic practices, such as traditional Chinese medicine or Ayurveda, focus on balancing the body's energy flows to promote health and well-being.


          </p>
        </div>
      </div>
    </div>
       <div class="col-lg-4 col-md-6">
        <div class="choose-content">
          <i class="flaticon-college-graduation"></i>
          <img
            src="{% static 'assets/img/tag.png' %}"
            alt="image"
          />
          <h3>Strengthens the immune system</h3>
          <p>
            By promoting healthy lifestyles and reducing stress, holistic healing can strengthen the immune system and prevent disease.


          </p>
        </div>
      </div>


   <!-- <div class="choose-btn">
      <a href="#" class="default-btn-one">More Details</a>
    </div>-->
  </div> 
</section>
<!-- End Choose Section -->

<!-- Start Appoinment Section -->
<section class="appoinment-section p-0" id="contact">
  <div class="container-fluid">
    <div class="row align-items-center bg-style">
      <div class="col-lg-7 p-0">
        <div class="appoinment-area">
          <div class="appoinment-form-content">
            <h3>Request Service</h3>
            <p>
              Enter your contact details here to help us serve you better
              &amp; faster
            </p>
            <form class="appoinment-form" action="/contact/add/" method="post">
              {% csrf_token %}
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="full_name"
                  placeholder="Full Name*"
                  required
                />
              </div>

              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="Email*"
                />
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  placeholder="Phone*"
                />
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="message"
                  placeholder="How may I help you*"
                />
              </div>

              <div class="send-btn">
                <button type="submit" class="send-btn-one">
                  Get Quote
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="appoinment-style">
          <div class="appoinment-content">
            <span>Help Desk</span>
            <h3>
              Irrespective of whether your condition originated from a sports-related incident, a work-related accident, or any other cause, we welcome the opportunity to assist you.
            </h3>

            <div class="appoinment-btn">
              <a href="/booking/" class="appoinment-btn-one">Appointment</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Appoinment Section -->

<!-- Start Treatments Section -->
<section class="treatments-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="treatments-image">
          <img
            src="{% static 'assets/img/advantage.jpg' %}"
            alt="image"
          />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="treatments-area-content">
          <span>Advantages</span>
          <h3>
            We offer highly specialized treatments and we are unique
            Healing and Spiritual therapy 
          </h3>
          <p>
            Holistic healing and spiritual surgery embrace a holistic approach to well-being, addressing the interconnected aspects of mind, body, and spirit. This transformative process aims to mend physical ailments and emotional imbalances, fostering a sense of wholeness and internal healing.
          </p>
        </div>

        <ul class="treatments-features-list">
          <li><i class="flaticon-doctor"></i>Professional Service</li>
          <li><i class="flaticon-employee"></i>Educated Doctor</li>
          <li><i class="flaticon-infrared"></i>Emergency Help</li>
          <li><i class="flaticon-support"></i>Quick Response</li>
        </ul>

      <!--  <div class="treatments-box">
          <a href="#" class="default-btn-one">More Details</a>
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- End Treatments Section -->




<!-- Start Blog Section 
<section class="blog-section">
  <div class="container">
    <div class="section-title">
      <h2>Satisfied Customer</h2>
      <p>With our high quality therapy.</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="blog-item">
          <div class="blog-image">
            <a href="#"
              ><img
                src="{% static 'assets/img/1.png' %}"
                alt="image"
            /></a>
          </div>

          <div class="blog-content">
            <h2>
              <a href="#">Remove back Pain While Working On A Computer</a>
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="blog-item">
          <div class="blog-image">
            <a href="#"
              ><img
                src="{% static 'assets/img/2.png' %}"
                alt="image"
            /></a>
          </div>

          <div class="blog-content">
            <h2>
              <a href="#">Benefits of A Weekly Physiotherapy Session</a>
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
        <div class="blog-item">
          <div class="blog-image">
            <a href="#"
              ><img
                src="{% static 'assets/img/3.png' %}"
                alt="image"
            /></a>
          </div>

          <div class="blog-content">
            <h2>
              <a href="#">Regular Excercise Can Slow Ageing Process </a>
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->
{% endblock %}
