{% extends 'base/base.html' %}

{% block content %}
<section class="expertise-section">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="expertise-content-area">
                    <h3>Book Appointment</h3>
                    <form method="post" action="{% url 'available_time_slots' %}">
                        {% csrf_token %}
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                        <label for="selected_date">Select Date:</label>
                        <input type="date" name="selected_date" class="form-control" required>
                    </div>
                </div>
                
                <br><br>
        
                        <button type="submit" class="default-btn-one">Check Availability</button>
                    </form>
                </div>

            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
            <br />

                {% if available_time_slots %}
                {% for time_slot in available_time_slots %}
                <div class="col-lg-12 col-md-12 offset-lg-0 offset-md-3">
                    <div class="contact-box">
                        <button class="btn btn-success book-btn" style="float: right;" data-date-time="{{ time_slot|date:'Y-m-d H:i:s' }}">Book</button>
                        <div class="icon">
                            <i class="icofont-calendar"></i>
                        </div>
                        <h4>{{ time_slot|date:'Y M d (D)' }}</h4>
                        
                        <p style="float: right;"><b><i class="icofont-bill-alt"></i> 500 kr</b></p>
                        <p><a href="#"><h6><i class="icofont-sand-clock"></i>{{ time_slot|date:"H:i a" }}</h6></a></p>
                        
                    </div>
                </div>
                {% endfor %} 
                {% else %}
                <p>No available time slots for the selected date and time.</p>
            {% endif %}   
            </div>
        </div>
    </div>
    
    <div class="back-image">
        <img src="assets/img/dots.png" alt="image">
    </div>
</section>
<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                <h5 class="modal-title" style="color: #B192B1; text-align: center;">Our Journey Starts Here</h5>
            </center>
            </div>
            <div class="modal-body">
                <form class="contactForm" method="post" action="{% url 'book_appointment' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="hidden" name="selected_datetime" id="selected_datetime_input" value="">
                                <input type="text" class="form-control" name="full_name" placeholder="Name*">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="contact_no" placeholder="Phone*">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email*">
                            </div>
                        </div>

                        
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="send-btn">
                                <center><button type="submit" class="send-btn-one">Book Appointment</button></center>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var bookButtons = document.querySelectorAll('.book-btn');
        var selectedDateTimeInput = document.getElementById('selected_datetime_input');

        bookButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var selectedDateTime = button.getAttribute('data-date-time');
                selectedDateTimeInput.value = selectedDateTime;
                $('#bookingModal').modal('show');
            });
        });
    });
</script>
{% endblock %}
</html>
